!!!
%html
  %head
    %title Alex Tokarev's personal page
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %button.btn.btn-navbar.collapsed{:type=>"button", "data-toggle"=>"collapse", "data-target"=>".nav-collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to image_tag("logo_white24.png"), root_path, :class => "brand"
          .nav-collapse.collapse
            = render "shared/menu"
    .container= yield